    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download {{ site.title }}</h2>
                    <p>You can download CCDroid from playstore</p>
                    <a href="https://play.google.com/store/apps/details?id=org.developfreedom.ccdroid.app&referrer=utm_source%3Dwebpage" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
